<h2 class="text-dark fw-bold text-center">
  Skills
</h2>
<p class="text-center px-4 mb-5">
  Laudem latine persequeris id sed, ex fabulas delectus quo. No vel partiendo abhorreant vituperatoribus.
</p>
<div class="row d-flex align-items-stretch g-5">
  <div class="col-12 col-sm-6 col-md-4" *ngFor="let skill of skills; let i = index">
    <div
    data-aos="fade-up"
    data-aos-offset="0"

    [attr.data-aos-delay]="i * 200"
    class="h-100"
    >
    <app-home-skill-card [skill]="skill">

    </app-home-skill-card>
    </div>

  </div>

</div>
