<div class="row">
  <div class="col-12 col-md-6 d-flex">
    <div class="text-center d-inline-block m-auto">
      <h1 class="m-0">
        Rashedy's Tecno
      </h1>
      <h6>
        Developer Team
      </h6>
      <p>
        Highly experienced in Designing & Developing Websites to Build Effective and Efficient websites!
      </p>
      <button type="button" class="btn btn-primary text-white">
        Get Started
      </button>
    </div>

  </div>
  <div class="col-12 col-md-6 d-flex justify-content-center align-items-center py-2">

    <img src="https://via.placeholder.com/350x350" class="mh-100 img-fluid m-auto" alt="">

  </div>
</div>
