<div class="row container">
  <div class="col-12 col-md-6 d-flex">
    <div class="ms-4 d-inline-block m-auto">
      <h1 class="m-0">
        Rashedy's Tecno
      </h1>
      <h6 class="text-primary fw-light fs-4">
        Developer Team
      </h6>
      <p>
        Highly experienced in Designing & Developing Websites to Build Effective and Efficient websites!
      </p>
      <a type="button" class="btn btn-primary text-white text-uppercase px-4 link" pageScroll [routerLink]="[routes.Home]" fragment="about">
        <small style="letter-spacing: 1px;font-weight: 600;">Get Started</small>
      </a>
    </div>

  </div>
  <div class="col-12 col-md-6 d-flex justify-content-center align-items-center py-2">

    <img lazyLoad="assets/img/intro-img.svg" class="mh-100 img-fluid m-auto" alt="">

  </div>
</div>
