$primary: #1bb1dc;
$secondary: #E87287;
$success: #198754;
$danger: #dc3545;
$warning: #ffc107;
$info: #0dcaf0;
$light: #f5f8fd;
$dark: #413e66;
$white: #fff;
$border: #dee2e6;
$blue: #00a8e8;
$transparent: transparent;
@function tint($color, $percentage) {
  @return mix(white, $color, $percentage);
}
@function shade($color, $percentage) {
  @return mix(black, $color, $percentage);
}
@function transparent($color, $opacity) {
  @return mix($transparent, $color, $opacity);
}
