<div class="py-4">
  <h2 class="text-center">
    Our Portfolio
  </h2>
  <ul class="list-unstyled list-inline text-center">
    <li class="list-inline-item">
      <a class="btn" [class.text-primary]="filterBy == ''" (click)="filterBy = ''" role="button">
        All
      </a>
    </li>
    <li class="list-inline-item">
      <a class="btn" [class.text-primary]="filterBy == 'web'" (click)="filterBy = 'web'" role="button">
        Web
      </a>
    </li>
    <li class="list-inline-item">
      <a class="btn" [class.text-primary]="filterBy == 'mobile'" (click)="filterBy = 'mobile'" role="button">
        Mobile
      </a>
    </li>
    <li class="list-inline-item">
      <a class="btn" [class.text-primary]="filterBy == 'backend'" (click)="filterBy = 'backend'" role="button">
        Backend
      </a>
    </li>
  </ul>
  <div class="row g-4">
    <div class="col-12 col-md-6 col-lg-6" *ngFor="let project of projects | filter:filterBy:'tags':'contains';let i = index">
      <div data-aos="fade-up" data-aos-duration="500" data-aos-offset="0" [attr.data-aos-delay]="i * 200">
        <app-home-portfolio-item [project]="project" (onOpenModal)="selectedProject = $event; openModal(infoModal)"></app-home-portfolio-item>

      </div>
    </div>

  </div>
  <!-- data-aos="fade-left" data-aos-duration="500" data-aos-offset="0" [attr.data-aos-delay]="i * 200" -->
  <!-- <ngx-masonry [options]="myOptions">

   <div ngxMasonryItem *ngFor="let project of projects | filter:filterBy:'tags':'contains';let i = index"

   class="col-lg-4 masonry-item col-md-6 portfolio-item p-2">
     <div class="position-relative">
       <div class="portfolio-info position-absolute bottom-0 top-0 start-0 end-0 d-flex align-items-center justify-content-center flex-column">
         <h4 class="text-white">
           {{ project.name }}
         </h4>
         <div class="d-flex justify-content-center gap-2">
           <div>
             <div (click)="selectedProject = project; openModal(infoModal)" role="button" style="height: 25px; width: 25px;" class="rounded-circle btn btn-primary p-0 text-white d-flex align-items-center justify-content-center">
               <svg xmlns="http://www.w3.org/2000/svg" width="21" height="21" fill="currentColor" class="bi bi-info-lg" viewBox="0 0 16 16">
                 <path d="m9.708 6.075-3.024.379-.108.502.595.108c.387.093.464.232.38.619l-.975 4.577c-.255 1.183.14 1.74 1.067 1.74.72 0 1.554-.332 1.933-.789l.116-.549c-.263.232-.65.325-.905.325-.363 0-.494-.255-.402-.704l1.323-6.208Zm.091-2.755a1.32 1.32 0 1 1-2.64 0 1.32 1.32 0 0 1 2.64 0Z"/>
               </svg>
             </div>
           </div>
           <a *ngIf="project.url">
             <a [href]="project.url" target="_blank" style="height: 25px; width: 25px;" class="rounded-circle btn btn-primary p-0 text-white d-flex align-items-center justify-content-center">
               <span class="material-icons d-flex" style="font-size: 18px;">
                 open_in_new
               </span>

             </a>
           </a>
         </div>
       </div>
       <img  [src]="project.imagesUrl[0]" class="mh-100 img-fluid m-auto">
     </div>
     <div class="clearfix"></div>
   </div>
  </ngx-masonry> -->


<div class="p-2" id="portfolio"></div>

</div>






<ng-template #infoModal>
  <!-- <div class="modal-header">
    <h4 class="modal-title pull-left">Modal</h4>
    <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef?.hide()">
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div> -->
  <app-home-portfolio-modal [project]="selectedProject" (closeModal)="modalRef?.hide()"></app-home-portfolio-modal>

</ng-template>
