<div class="modal-body">
  <div class="d-flex justify-content-between">
    <h4 class="text-wrap">
      {{project?.name}}
    </h4>
    <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="close()">
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="row" >
    <div class="col-12 col-md-6 d-flex flex-column justify-content-between">
      <p>
        {{project?.description}}
      </p>
      <div>
          <a class="btn btn-link" *ngIf="project.url" [href]="project.url" role="button">
            <small class="d-flex align-items-baseline">
              <span>
                Preview
                &nbsp;
              </span>
              <span class="material-icons d-flex small">
                open_in_new
              </span>
            </small>
          </a>
      </div>
    </div>
    <div class="col-12 col-md-6">
      <div class="thumbnail position-relative d-flex flex-column">
        <carousel [interval]="20000" [isAnimated]="true" [(activeSlide)]="currentSlideImg" [showIndicators]="false">
          <slide *ngFor="let videoUrl of project?.videosUrl">
            <iframe class="w-100" height="500" [src]="videoUrl" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </slide>
          <slide class="d-flex justify-content-center align-items-center" *ngFor="let img of project?.imagesUrl">
            <div class="m-auto d-flex align-middle align-items-center slide-img">
              <img [src]="img"
              (click)="goToImage(img)" class="img-fluid mh-100 m-auto" alt="">
            </div>
          </slide>


        </carousel>
        <div role="button"
        class="carousel-btn prev d-flex align-items-center justify-content-center"
        (click)="prevSlide()">
          <span class="material-icons">
            chevron_right
          </span>
        </div>
        <div role="button"
        class="carousel-btn next d-flex align-items-center justify-content-center"
        (click)="nextSlide()">
          <span class="material-icons">
            chevron_left
          </span>
        </div>
      </div>
  </div>

</div>

