@import 'colors.scss';
.img img {
  max-height: 600px;
  width: auto;
}

slide {
  height: 500px;
}

.thumbnail {
  // padding: 6px;
  background-color: #fff;
  border: 1px solid #ebebeb;
  border-radius: 6px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  .carousel-btn {

    z-index: 5;
    display: block;

    color: #FFF;
    display: none;
    font-size: 14px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    position: absolute;
    top: 50%;
    margin-top: -20px;
    z-index: 1;
    opacity: 0;
    filter: alpha(opacity=0);

    background: $primary;
    content: "";
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -ms-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;


  }

  .carousel-btn.prev {
    right: 0px;
    border-radius: 3px 0 0 3px;
  }
  .carousel-btn.next {
    left: 0px;
    border-radius: 0 3px 3px 0;
  }

  .carousel-btn:hover {
    background: $dark;
  }

}


.thumbnail:hover {
  .carousel-btn {
    display: block;
    opacity: 1;
    filter: alpha(opacity=1);
  }

}
