<div class="row py-2">
  <div class="col-12 col-md-5 d-flex justify-content-center align-items-center p-3 ">
    <div class="about-img">
      <img lazyLoad="assets/img/about-img.jpg" class="mh-100 img-fluid m-auto" alt="">
    </div>
  </div>
  <div class="col-12 col-md-7 text-start py-4 about-content">
    <h2 class="text-dark fw-bold">
      About US
    </h2>
    <p class="fst-italic short-description">
      I’m a passionate and pragmatic software engineer with 8+ years of professional experience.
    </p>
    <p>
      Specializing in Microsoft .NET Framework to Build effective and efficient websites & mobile applications with zero
      tolerance for errors.
    </p>
    <ul class="list-unstyled">
      <li class="d-flex gap-2">
        <span class="material-icons">
        task_alt
        </span>
        <span>
          Executed the project successfully from end to end Analysis to
          Production with good appreciation from business.
        </span>
      </li>
      <li class="d-flex gap-2">
        <span class="material-icons">
        task_alt
        </span>
        Exposed to various stages of Software Development Life Cycle on
        Client/Server, Multi-tired and Web-based Applications. </li>
      <li class="d-flex gap-2">
        <span class="material-icons">
        task_alt
        </span>
        Experience in system analysis, architecture/ designing,
        development, testing and deployment of software applications. </li>
      <li class="d-flex gap-2">
        <span class="material-icons">
        task_alt
        </span>
        Ability to quickly upgrade to new technologies and tools to stay
        ahead. </li>
      <li class="d-flex gap-2">
        <span class="material-icons">
        task_alt
        </span>
        Experience in Requirements Gathering and preparing Requirements
        Documents and User Manuals. </li>
      <li class="d-flex gap-2">
        <span class="material-icons">
        task_alt
        </span>
        Excellent skills in architecting and implementing client/server and
        N-tier applications using various technologies. </li>
      <li class="d-flex gap-2">
        <span class="material-icons">
        task_alt
        </span>
        Excellent communication skills to provide accurate reporting and
        information regarding the ongoing projects and initiatives to the stakeholders. </li>
    </ul>
  </div>


</div>
