<div class="row py-2">
  <div class="col-12 col-md-3 d-flex justify-content-center align-items-center p-3">
    <img src="https://via.placeholder.com/350x650" class="mh-100 img-fluid m-auto" alt="">
  </div>
  <div class="col-12 col-md-9 text-start py-4">
    <h2>
      About US
    </h2>
    <p class="fs-5 fst-italic">
      I’m a passionate and pragmatic software engineer with 8+ years of professional experience.
    </p>
    <p>
      Specializing in Microsoft .NET Framework to Build effective and efficient websites & mobile applications with zero
      tolerance for errors.
    </p>
    <ul class="ps-3">
      <li><i class="ion-android-checkmark-circle"></i> Executed the project successfully from end to end Analysis to
        Production with good appreciation from business. </li>
      <li><i class="ion-android-checkmark-circle"></i> Exposed to various stages of Software Development Life Cycle on
        Client/Server, Multi-tired and Web-based Applications. </li>
      <li><i class="ion-android-checkmark-circle"></i> Experience in system analysis, architecture/ designing,
        development, testing and deployment of software applications. </li>
      <li><i class="ion-android-checkmark-circle"></i> Ability to quickly upgrade to new technologies and tools to stay
        ahead. </li>
      <li><i class="ion-android-checkmark-circle"></i> Experience in Requirements Gathering and preparing Requirements
        Documents and User Manuals. </li>
      <li><i class="ion-android-checkmark-circle"></i> Excellent skills in architecting and implementing client/server and
        N-tier applications using various technologies. </li>
      <li><i class="ion-android-checkmark-circle"></i> Excellent communication skills to provide accurate reporting and
        information regarding the ongoing projects and initiatives to the stakeholders. </li>
    </ul>
  </div>


</div>
