<!-- <div></div> -->

<a name="intro">
  <app-home-intro id="intro"></app-home-intro>
</a>
<!-- <div></div> -->

<div class="container">
  <a name="about">
    <app-home-about id="about"></app-home-about>
  </a>
  <!-- <div></div> -->
  <!-- <app-home-services></app-home-services>
  <app-home-contact></app-home-contact>
  <app-home-testimonials></app-home-testimonials>
  <app-home-clients></app-home-clients> -->
  <!-- <div></div> -->



</div>
<a name="skills">
  <app-home-skills id="skills"></app-home-skills>
</a>
<!-- <div></div> -->

<div class="container">
  <a name="portfolio">
    <app-home-portfolio id="portfolio"></app-home-portfolio>
  </a>
</div>
