<!-- <div></div> -->

<a name="intro">
  <app-home-intro data-aos="zoom-in" id="intro"></app-home-intro>
</a>
<!-- <div></div> -->

<div class="container">
  <a name="about" >
    <div id="about" class="p-3"></div>
    <div data-aos="fade-left" data-aos-duration="500">
      <app-home-about ></app-home-about>
    </div>
  </a>
  <!-- <div></div> -->
  <!-- <app-home-services></app-home-services>
  <app-home-contact></app-home-contact>
  <app-home-testimonials></app-home-testimonials>
  <app-home-clients></app-home-clients> -->
  <!-- <div></div> -->



</div>
<a name="skills">
  <div class="bg-light">
    <app-home-skills id="skills"
 ></app-home-skills>
  </div>
</a>
<!-- <div></div> -->

<div class="container">


  <a name="portfolio">

      <app-home-portfolio></app-home-portfolio>
      <!-- <div class="p-2" ></div> -->

  </a>

</div>
