.skill-image {
  $skill-size: 40px;
  width: $skill-size;
  height: $skill-size;
}

.skill-card {
  border-radius: 20px;
  box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%);
  transform: scale(1);
  -webkit-transition: all 0.3s ease, box-shadow 0.3s ease;
  -moz-transition: all 0.3s ease, box-shadow 0.3s ease;
  -o-transition: all 0.3s ease, box-shadow 0.3s ease;
  -ms-transition: all 0.3s ease, box-shadow 0.3s ease;
  transition: all 0.3s ease, box-shadow 0.3s ease;
}

.skill-card:hover {
  transform: scale(1.05);
  box-shadow: 0 1rem 3rem rgb(0 0 0 / 18%);
}
