
<div>

  <div class="d-flex align-items-end justify-content-center">


    <div *ngIf="!project.mobileOnly" class="screen">
      <img  [src]="project.imagesUrl[0]" [alt]="project.name + ' web'">
    </div>
    <div *ngIf="project.mobileImgUrls" class="phone">
      <div class="notch-container">
            <div class="notch"></div>
      </div>
      <img class="img-fluid" [src]="project.mobileImgUrls[0]" [alt]="project.name + ' mobile'">
    </div>
  </div>

</div>
<h4 class="text-center text-dark mt-4">
  {{ project.name }}
</h4>
<p class="text-center " [innerHtml]="project.shortDescription">
  <!-- {{ project.shortDescription }} -->
</p>

<div class="d-flex justify-content-center gap-2">
  <div>
    <a [routerLink]="[routes.ProjectDetails, project.id]" [state]="{'data': project}" role="button" style="height: 25px; width: 25px;" class="rounded-circle btn btn-primary p-0 text-white d-flex align-items-center justify-content-center">
      <svg xmlns="http://www.w3.org/2000/svg" width="21" height="21" fill="currentColor" class="bi bi-info-lg" viewBox="0 0 16 16">
        <path d="m9.708 6.075-3.024.379-.108.502.595.108c.387.093.464.232.38.619l-.975 4.577c-.255 1.183.14 1.74 1.067 1.74.72 0 1.554-.332 1.933-.789l.116-.549c-.263.232-.65.325-.905.325-.363 0-.494-.255-.402-.704l1.323-6.208Zm.091-2.755a1.32 1.32 0 1 1-2.64 0 1.32 1.32 0 0 1 2.64 0Z"/>
      </svg>
    </a>
  </div>
  <a *ngIf="project.url">
    <a [href]="project.url" target="_blank" style="height: 25px; width: 25px;" class="rounded-circle btn btn-primary p-0 text-white d-flex align-items-center justify-content-center">
      <span class="material-icons d-flex" style="font-size: 18px;">
        open_in_new
      </span>

    </a>
  </a>
</div>
