@import '../node_modules/ngx-owl-carousel-o/lib/styles/scss/owl.carousel';
@import '../node_modules/ngx-owl-carousel-o/lib/styles/scss/owl.theme.default';

@import "colors.scss";
@import "bootstrap.scss";
@import "font.scss";
@import "animation.scss";
@import "material.scss";
@import "snackbar.scss";
@import "scroll.scss";
@import "fixes.scss";


